/* Elementos */
body{
	background-color: #e0e0e0;
}

caption{
	font-size: 25px;
	font-style: italic;
	text-align: left;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
	font-size: 20px;
}

.report_table{
	font-size: 13px;
	border: 1px solid;
	width: 95%;
	margin: 0px auto;
	background-color: #fff;
}
.report_table th{
	background-color: #cccccc;
	text-align: center;
}
.report_table tr{
	border: 1px solid;
	text-align: center;
}
.report_table td{
	border: 1px solid;
}

#crudo {
	font-size: 9px;
	font-style: italic;
	border: 1px solid;
}
.bad_row{
	background-color: red;
	color: white;
}
.ok_row{
	color: green;
}
.pending_row{
	color: orange;
}
.tosign_row{
	color: navy;
}
table{
	margin-top: 20px;
}

/* DIVS */
#header{
	text-align: center;
	border: 1px solid navy;
	box-shadow: 2px 2px 5px #999;
	margin: 5px;
	width: auto;
	background-color: #fff;
	cursor: pointer;
}
#hora{
	font-family: monospace;
	float: right;
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 30px;
}
.div_map{
	margin: 0px auto;
	width: 800px;
	height: 500px;
	border: 1px solid;
	box-shadow: 2px 2px 5px #999;
}