caption{
	font-size: 25px;
	font-style: italic;
	text-align: left;
}
.report_table{
	font-size: 13px;
	border: 1px solid;
	width: 100%;
}
.report_table th{
	background-color: #cccccc;
	text-align: center;
}

#crudo {
	font-size: 10px;
	font-style: italic;
	border: 1px solid;
}
.bad_row{
	background-color: red;
	color: white;
}
.ok_row{
	color: green;
}
.pending_row{
	color: orange;
}
.tosign_row{
	color: yellow;
}
table{
	margin-top: 20px;
}